<div class="loginContainer">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="p-5">
                <img src="assets/img/generic_avatar.png
                " alt="" class="img-thumbnail avatarFrameOffline">
            </div>
        </div>
        <div class="d-flex justify-content-center flex-column">
            <div class="text-center">
                <h3 class="my-4">Iniciar Sesión</h3>
            </div>
            <p *ngIf="operation == 'register'">Ya tienes cuenta? Has <button class="btn-link btn" (click)="changeOperation('login')">Login</button></p>
            <p *ngIf="operation == 'login'">No tienes cuenta? <button class="btn-link btn" (click)="changeOperation('register')">Registrarse</button></p>
        </div>
        <div class="d-flex justify-content-center flex-column">
            <div class="py-2">
                <input [(ngModel)]="email" type="text" class="form-control" placeholder="Ingrese Email">
            </div>
            <div class="py-2">
                <input [(ngModel)]="password" type="password" class="form-control" placeholder="Ingrese Password">
            </div>
            <input [(ngModel)]="nick" *ngIf="operation == 'register'" type="text" class="form-control" placeholder="Ingrese Nick">
            <div class="align-self-center">
                <button (click)="login()" *ngIf="operation == 'login'" class="btn btn-primary btn-block my-3">Iniciar Sesión</button>
                <button (click)="register()" *ngIf="operation == 'register'" class="btn btn-primary btn-block my-3">Registrarme </button>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="border rounded">
            </div>
        </div>
    </div>
</div>
