.status {
    width: 20px;
}

.profileContainer {
    background-image: url(/assets/img/msnbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.whiteBorderBox {
    border: 2px solid rgba(255, 255, 255, .75);
    padding: 8px;
}

.profileHeadContainer {
    background-color: rgba(255, 255, 255, .50);
}

.whiteContainerPadded {
    padding: 15px;
    background-color: #feffff;
}

img.icon {
    width: 30px;
}