<div class="profileContainer">
    <div class="container pato45">
        <div class="d-flex">
            <div class="w-25 align-content-start">
                <div class="avatarFrameOnline">
                    <img  class="avatarImage img-fluid" src="assets/img/generic_avatar.png" alt="">
                </div>
                <hr>
                <div class="">
                    <span>Cambiar foto</span>
                    <label for="" class="custom-file-upload">
                        <input type="file">
                        Subir avatar
                    </label>
                </div>
            </div>
            <div class="w-75 pl-4">
                <div class="py-2">
                    <label fixed>Nick</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="py-2">
                    <label fixed>Subnick</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="py-2">
                    <label fixed>Email</label>
                    <input type="email" class="form-control" disabled/>
                </div>
                <div class="py-2">
                    <label fixed>Status</label>
                      <select class="custom-select" id="inputGroupSelect01">
                        <option value="online">Conectado</option>
                        <option value="away">Ausente</option>
                        <option value="busy">Ocupado</option>
                        <option value="appear_offline">Desconectado</option>
                    </select>
                </div>
                <hr>
                <a href="" class="btn btn-primary btn-block">Guardar</a>
            </div>
        </div>
        
    </div>
</div>
