<div class="homeContainer">
    <div class="whiteBorderGlassBox">
        <div class="homeHeaderContainer">
            <div class="d-flex">
                <div class="flex-grow-0 border">
                    <div class="avatarFrameOnline">
                        <img src="assets/img/generic_avatar.png" alt="avatar"
                            class="avatarImage img-fluid homeAvatarPicture">
                    </div>
                </div>
                <div class="p-2">
                    <strong>{{friend.nick}}</strong>
                    <div class="">Online</div>
                    <div>
                        <"Escribe un mensaje Personal">
                    </div>
                </div>
               <button (click)="logout()"  class="btn btn-primary ">Cerrar Session</button>
            </div>
        </div>
    </div>
    <div class="whiteContainerPadded marto15">
        <div class="d-flex w-100">
            <div class="w-75">
                <input class="form-control" type="text" name="" id="" placeholder="Buscar" [(ngModel)]="query">
            </div>
            <div class="px-2">
                <img class="icon" src="assets/img/logo_live_add.png" alt="">
            </div>
        </div>

        <hr class="border">
        <div class="d-flex">
            <strong *ngIf="friends"> ({{friends.length }} / {{friends.length}} )</strong>
        </div>
        <ng-container *ngFor="let user of friends | search: query; let i = index">
            <p  [ngSwitch]="user.status" class="my-3">
                <a routerLink="/conversation/{{user.uid}}">
                    <img *ngSwitchCase="'online'" src="assets/img/logo_live_online.png" class="img-fluid status mr-2">
                    <img *ngSwitchCase="'offline'" src="assets/img/logo_live_offline.png" class="img-fluid status mr-2">
                    <img *ngSwitchCase="'busy'" src="assets/img/logo_live_busy.png" class="img-fluid status mr-2">
                    <img *ngSwitchCase="'away'" src="assets/img/logo_live_away.png" class="img-fluid status mr-2">
                    <strong>{{user.nick}}</strong> - {{user.subnick || 'noSubNick' }} |
                    {{ user.status }}|
                    <small>{{user.email}}</small>
                </a>
            </p>
        </ng-container>
    </div>
</div>
